.pdList th, 
.pdList td{
    border-bottom-width: 0px !important;
}
.pd-description{
    width: 100%;
    background: white;
    padding: 25px;
    border-radius: 10px;
}
.table thead{
    background-color: #eeeef9;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.table th{
    color: #000 !important;
}
.table td{
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
}
.pending{
    color: #e24343 !important;
}
.done{
    color: #3dc73a !important;
}
select{
    border-width: 0px !important;
    cursor: pointer;
}

@media (max-width: 992px){
    .display-style{
        display: flex;
    }
}