.img-text{
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
    padding: 40% 5%;
    background: #fff;
    
    border-radius: 15px;
}
.img-text h2{
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.img-text p{
    font-size: 14px;
}
.single-box{
    position: relative;
    margin-bottom: 30px;
}
.img-area{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(185, 184, 184);
    overflow: hidden;
    top: 15px;
    left: 125px;
    border-radius: 50%;
}
.img-area img{
    width: 100%;
}


/*  */
.rec-arrow-left,
.rec-arrow-right{
    display: none;
}
.rec-pagination{
    padding-bottom: 3rem !important;
}

.rec-carousel{
    height: 322px !important;
}
.slick-dots li button:before{
    font-size: 11px !important;
    top: -15px !important;
}
