.pad{
    padding: 16px;
}
.book-info{
    background: #f2f2f3;
    height: 545px;
    display: flex;
    justify-content: flex-start;
    width: 81.7%;
    margin-left: auto;
}
.submitBtn{
    margin-left: auto;
    display: block;
}
.border-radius{
    border-radius: 10px;
}
@media (min-width: 768px){
    .title-name{
        margin-left: 6rem !important;
    }
    .width{
        width: 50%;
    }
}
@media (max-width: 767px){
    .width{
        width: 100%;
    }
}